* {
    padding: 0;
    margin: 0;
    font-family: 'Staatliches', cursive;
    /* border: 2px solid yellowgreen; */
}

/* START SCREEN ----------------------------------- */

.startScreenDiv {
  /* background-image: url(/assets/images/gems.png); */
  width: 100vw;
  height: 100vh;
}

#startRow {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto 0;
  width: 100vw;
  height: 70vh;
  background-color: unset;
}

#startHeader {
  align-items: center;
  position: absolute;
  background-color: unset;
  top: 20%;
  margin: 10px;
  font-size: 7em;
  text-shadow: 7px 7px 20px black;
}

.buttonStyle {
  align-items: center;
  position: absolute;
  top: 50%;
  font-size: 2em;
  transition: all 500ms;
  cursor: pointer;
  text-shadow: 5px 5px 15px black;
}

.buttonStyle span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 700ms;
  background-color: unset;
}

.buttonStyle span:after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 300ms;
}

.buttonStyle:hover span {
  padding-right: 30px;
}

.buttonStyle:hover span:after {
  opacity: 1;
  right: 0;
}

#endScreen {
  background-color: #fff;
}

/* --------------------------------------------------------- */

.padding {
    padding: 10px;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

#gamePrompt {
    width: 95vw;
    align-content: center;
    background-color:#000;
    color: orange;
    height: 50px;

}

.spriteFormat {
    width: 250px;
    margin: -10px;
    padding-bottom: 40px;
}

.bossSpriteFormat {
  width: 329px;
  margin: -10px;
}

.hiddenButtons {
  margin: 20px;
}

.empty {
  height: 50px;
}

.characterSelectBox {
  display: flex;
  flex-direction: column;
  height: 325px;
}
.characterSprites {
    width: 230px;
    border-radius: 12%;
}

.characterButton {
  width: 120px;
  font-size: 1.8em;
}

.selectBorder {
  border: 5px solid #2d93ff;
}

.selectBorderNone {
  border: 5px solid #fff;
}

#selectionScreenHeader {
  font-size: 3.3em;
  color: #777;
  padding-bottom: 10px;
}

#characterConfirm {
  font-size: 2em;
  margin: 15px;
}

#playArea h2 {
  background-color: unset;
  margin: 10px;
}

#playArea h1 {
  margin-top: 10px;
  background-color: #292b2c;
}

.cssField {
  background-color: unset;
}

.cssField2 {
  background-color: unset;
  color: #fff;
  font-size: 1.7em;
}

.playDivision, .spriteFormat, .bossSpriteFormat {
  background-color: #fff;
  border-radius: 5%;
}

.playDivision {
  margin-bottom: 30px;
  background-color: #fff;
}

.attackButtons {
  font-size: 1.5em;
  margin: 5px;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  width: 170px;
}


.playDivision h5 {
  font-size: 1.7em;
  background-color: unset;
}

.hiddenButtons {
  background-color: #292b2c;
}

/* Animations */

.textShimmer {
  overflow: hidden;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.6));
  background-size: 85%;
  animation: shimmer 5s linear infinite;
  -webkit-background-clip: text;
  -webkit-text-fill-color: rgba(255, 255, 255, 0);
}
  
  @keyframes shimmer {
    0% {
      background-position: -500%;
    }
    100% {
      background-position: 500%;
    }
  }

  .textShimmer2 {
    overflow: hidden;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.9));
    background-size: 85%;
    animation: shimmer2 2s linear infinite;
    -webkit-background-clip: text;
    -webkit-text-fill-color: rgba(255, 255, 255, 0);
  }
    
    @keyframes shimmer2 {
      0% {
        background-position: -500%;
      }
      100% {
        background-position: 500%;
      }
    }

.statsWrapper {
  position: relative;
  padding: 10px;
}

.statsWrapper h5 {
  position: absolute;
  top: -26px;
  left: 10%;
  font-size: 2em;
  background-color: unset;
  color: #777;
}

#HPtracker {
  position: absolute;
  float:right;
  top: -30px;
  right: 10%;
  font-size: 2em;
  background-color: unset;
  color: #777;
}

.statsPlayer {

}

.statsEnemy {

}

  /* ANIMATION */
  @-webkit-keyframes bounce {
    100% {
      top: -20px;
      text-shadow: 0 1px 0 #ccc, 0 2px 0 #ccc, 0 3px 0 #ccc, 0 4px 0 #ccc,
        0 5px 0 #ccc, 0 6px 0 #ccc, 0 7px 0 #ccc, 0 8px 0 #ccc, 0 9px 0 #ccc,
        0 50px 25px rgba(0, 0, 0, 0.2);
    }
  }

.spriteArea {
  position: relative;
  height: 240px;
}

.hpDisplaySprite {
  visibility: hidden;
}

.hpAnimation {
  visibility: visible;
  position: absolute;
  top: 10%;
  right: 15%;
  font-size: 3em;
  background-color: unset;
  text-shadow: 0 1px 0 #ffd900, 0 2px 0 #ffd900, 0 3px 0 #ffd900, 0 4px 0 #ffd900,
  0 5px 0 #ffd900, 0 6px 0 transparent, 0 7px 0 transparent, 0 8px 0 transparent,
  0 9px 0 transparent, 0 10px 10px rgba(253, 234, 66, 0.5);
  transform: scale(0);
  animation: hpAnimation 1.2s ease-out 1;
}

@keyframes hpAnimation {
  0% {
    transform: scale(.5);
    transform-origin: 50%;
  }
  70% {
    transform: scale(2);
    transform-origin: 50%;
  }
  100% {
    transform: scale(0);
    transform-origin: 50%;
  }
}

/* End Screen */
#endScreen {
  display: flex;
  flex-direction: column;
}

#endHeader {
  justify-content: center;
  align-items: center;
  background-color: unset;
  top: 10%;
  margin: 10px;
  font-size: 7em;
  text-shadow: 7px 7px 20px black;
}

#endHeader {
  margin-top: 100px;
  margin-bottom: 50px;
}

#endSpriteContainer {
  width: 420px;
  height: 420px;
}

#endSpin {
  position: relative;
  width: 100%;
  animation: spin 5s ease-in-out infinite;
}

#endSprite {
  position: absolute;
  margin: 60px;
  padding-top: 20px;
}

#restartButton {
  top: 80%;
}

@keyframes spin {
  0%{
    transform: rotate(0deg);
  }
  50%{
    transform: rotate(90deg);
  }
}